
    <!-- Side navigation -->
    <div class="sidenav">

        <div class="d-grid gap-2">
            <a href="/almuerzos" class="btn btn-primary" type="button">Almuerzos</a>
            <a href="/rapidas" class="btn btn-primary" type="button">Rapidas</a>
            <a href="/heladeria" class="btn btn-primary" type="button">Heladeria</a>
            <a href="/" class="btn btn-primary" type="button">Parque</a>
        </div>

    </div>
    <!-- ---------------------------- -->